<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation de mon api rest</title>
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div class="container">
    <h1>Bonjour et bienvenue</h1>
    <h6>GET : "/" -> Page d'accueil</h6>
    <h5>Les Catégories</h5>
    <h6>GET : "/categ" -> Array of object [  {}, {}  ] with name and id</h6>
    <h6>GET : "/categ/:id -> Return object {} with id categ en params</h6>
    <h6>*(users registred only) POST : "/categ" -> body { name : "newCategName" } -> Create a new categ, return id created</h6>
    <h6>*(users registred only) PATCH : "/categ/:id" -> body { name : "newNameCateg" } -> Update categ Name by id passed in params</h6>
    <h6>*(users registred only) DELETE : "/categ/:id -> delete categ by id passed in params</h6>
    <hr>
    <h5>Les users</h5>
    <h6>GET : "/users" -> Array of object [  {}, {}  ] with name and id</h6>
    <h6>*(users registred only) GET : "/users/:id -> Return object {} with id users en params</h6>
    <h6>*(users registred only) GET : "/users/:nameUsers -> Return object {} with nameUsers passed in params</h6>
    <h6>POST : "/users" -> body { name : "newUsersName" } -> Create a new users, return id created</h6>
    <h6>*(users registred only) PATCH : "/users/:id" -> body { name : "newUsersName" } -> Update users Name by id passed in params</h6>
    <h6>*(users registred only) DELETE : "/users/:id -> delete users by id passed in params</h6>
    <hr>
    <h5>Si vous voulez contacter les admins de l'API, passer par le endpoint contact post</h5>
    <h6>*(users registred only)  POST : "/contact" -> Object { message : String }</h6>
    <hr>
    <h5>Partie sur l'authentification des requète *(users registred only)</h5>
    *(users registred only) = vous devez avoir un compte + votre identifiant pour accéder à ces Endpoints
    <p>Il faudra pour ce faire vous connecter par votre front end ou systeme de test comme thunder avec le endpoint</p>
    <h6>POST "/auth" -> body : </h6>
    <span>{<br>&nbsp;&nbsp;&nbsp;"userName" : "loic",<br>&nbsp;&nbsp;&nbsp; "userId" : "42"<br> }</span>
    <h6>Pour Vous créer un compte si vous n'en avez pas il faudra utilisé : </h6>
    <h6>POST : "/users" -> body { name : "newUsersName" } -> Create a new users, return id created</h6>
    <span>Quand vous aurez votre compte + votre id secret, vous pourrez lancer le endpoint POST "/auth" ci-dessus. Vous récupérerez un token jwt<br>
    à mettre dans vos Headers de requète. sous le format "Bearer token"</span>
  </div>
</body>
</html>