<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation de mon api rest</title>
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div class="container">
    <h1>Bonjour et bienvenue</h1>
    <h6>GET : "/" -> Page d'accueil</h6>
    <h6>GET : "/categ" -> Array of object [  {}, {}  ] with name and id</h6>
    <hr>
    <h5>Si vous voulez contacter les admins de l'API, passer par le endpoint contact post</h5>
    <h6>POST : "/contact" -> Object { message : String }</h6>
  </div>
</body>
</html>